<h1><%= @project.name%></h1>
<p><%= @project.description%></p>
<hr/>

<div class="container">
  <div class="row">
  	<%  %>
	<div class="col-md-6">
	  <div class="col-md-12 card">
	    <div class="row card-header bg-info text-white">
	      <h3 class="col-md-11">Developers 
	      	<span class="badge  badge-light"><%=@pp.project_devs_count%></span>
	      </h3>
	      <button class="col-md-1 btn btn-primary bg-light text-primary" data-toggle="modal" data-target="#add_dev_modal">+</button>
	    </div>

		  <div class="card-body">
		  	<ul class="list-group">
		  	  <% @pp.project_devs.each do |dev|%>
  					<li class="list-group-item d-flex justify-content-between align-items-center">
    			  	<p><%= dev.name %></p>
    			  	<%= @pp.link_to_delete_user_from_project(dev.id)%>
  					</li>
  			  <% end %>
  			</ul>
		  </div>
	  </div>
	</div>
	<div class="col-md-6">
	  <div class="col-md-12 card">
        <div class="row card-header bg-info text-white">
	      <h3 class="col-md-11">QA  <span class="badge  badge-light"><%=@pp.project_qas_count%></span></h3>
	      <button id="add_qa" class="col-md-1 btn btn-primary bg-light text-primary" data-toggle="modal" data-target="#add_qa_modal">+</button>
	    </div>	    
		  <div class="card-body">
		      <ul class="list-group">
		  	  <% @pp.project_qas.each do |qa|%>
  				<li class="list-group-item d-flex justify-content-between align-items-center">
    			  <p><%= qa.name %></p>
    			  <%= @pp.link_to_delete_user_from_project(qa.id)%>
  				</li>
  			  <% end %>
  			</ul>
		  </div>
	  </div>
	</div>
  </div>
</div>



<hr/>
<%= link_to "edit", edit_project_path, :class =>"btn btn-outline-primary" %> 

<%= @pp.link_to_delete_project %> 

<%= render 'project_users/add_devs_modal'%>
<%= render 'project_users/add_qas_modal'%>