  <%= form_for @bug do |f|%>
    <%=f.label :title , :class => 'col-md-12'%>
      <%=f.text_field :title , :class => 'col-md-12' %>
    <hr/>

    	<%= f.label :deadline %>
		  <%# f.date_select :deadline, {:start_year => Time.now.year ,:end_year => 2025, :prompt => true, :deadline => [:day, :month, :year]} %>
    <hr/>
  		<%= f.radio_button :bug_type, 'bug', :checked => true %> 
  		<%= label :bug_type, 'Bug' %>
  		<%= f.radio_button :bug_type, 'feature' %> 
  		<%= label :bug_type, 'feature' %>
  	<hr/>
	   <% bug_status = ['new', 'started', 'resolved'] %>
     <% feature_status = ['new', 'started', 'completed'] %>
	   <div class="field">
	    <%= f.label :status, :class => 'col-md-6'  %><br />
	    <%= f.select(:status, bug_status, :class => 'col-md-6' ) %>
	  </div>

	<hr/>
        <%=f.label :screen_shot , :class => 'col-md-12' %>
          <%=f.text_field :screen_shot , :class => 'col-md-12' %>
    <hr/>
       <%=f.label :description , :class => 'col-md-12' %>
         <%=f.text_area :description , :class => 'col-md-12' %>
    <hr/>
    <%= f.hidden_field :project_id %>
    <%= f.submit  :class => 'btn btn-primary'%>
  <%end%>

<script type="text/javascript">
  $("input[name='bug[bug_type]']").change(function() {
    var obj = $("select[name='bug[status]']")[0][2]
    if(this.value==='bug'){
      obj.value = "resolved"
      obj.text  = "resolved"
    }
    else{
      obj.value = "completed"
      obj.text = "completed"
    }
  })
</script>